@charset "UTF-8";
body {
  margin-top: 7.5rem;
  background-color: #f3f3f3;
}
[dir="rtl"] ol,
[dir="rtl"] ul {
  padding-left: initial;
  padding-right: 0;
}

.container {
  max-width: 800px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 6.5rem;
  z-index: 99;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dfdfdf;
}
[dir="rtl"] .navbar {
  left: auto;
  right: 0;
}
.navbar > .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.navbar-start {
  flex: 1;
}
.navbar-end {
  display: flex;
  align-items: center;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
[dir="rtl"] .navbar-item {
  float: right;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
[dir="rtl"] .navbar-link {
  margin-right: initial;
  margin-left: 35px;
}
[lang="ar"] .navbar-link {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: initial;
}
.translation-icon {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 0.33rem;
}
[dir="rtl"] .translation-icon {
  margin-right: initial;
  margin-left: 0.33rem;
}
.locale-switcher {
  margin-bottom: 0;
  font-size: 1.4rem;
}
